/*---------------------------------------------------------------------Colors*/

.bg-color-crash {
    background-color: orange;
}

nav {
    background-color: green;
}

.bg-color-main-title {
    background-color: white;
}

.bg-color-hero-image {
    background-color: white;
}

/*---------------------------------------------------------------------Layout*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.mainf1content {
    margin: 0;
    padding: 0;
}

/*---------------------------------------------------------------------Header*/

#navlogo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    width: 250px;
    text-align: center;
    color: white;
}

#navbarNavDropdown ul {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
}

#navbarNavDropdown ul li a{
    padding: 0 20px;
    color: white;
}


/*---------------------------------------------------------------------Index.html*/

.maintitle h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    text-align: center;
}

.crashbanner h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 66px;
    text-align: center;
}

.heroimage {
    padding-top: 120px;
}

.heroimage img {
    max-width: 100%;
    height: auto;
}

.crashbanner img {
    max-width: 100%;
    height: auto;
}