/*---------------------------------------------------------------------Colors*/

.bg-color-crash {
    background-color: orange;
}

nav {
    background-color: green;
}

.bg-color-main-title {
    background-color: white;
}

.bg-color-hero-image {
    background-color: white;
}

.bg-color-intro {
    background-color: white;
}

.bg-color-footer {
    background-color: green;
}

.bg-color-main-gt4 {
    background-color: white;
}

.bg-color-main-drag {
    background-color: white;
}

.bg-color-drag-header {
    background-color: orange;
}

.bg-color-f1-content {
    background-color: orange;
}

.bg-color-fe-content {
    background-color: orange;
}

/*---------------------------------------------------------------------Layout*/

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.mainf1content {
    margin: 0;
    padding: 0;
}

/*---------------------------------------------------------------------Header*/

#navlogo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    width: 250px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

#navbarNavDropdown ul {
    font-family: 'Assistant', sans-serif;
    font-size: 22px;
}

#navbarNavDropdown ul li a{
    padding: 0 25px;
    color: white;
}

/*---------------------------------------------------------------------Index.html*/

.maintitle h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    text-align: center;
    padding: 20px 0;
}

.crashbanner h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 66px;
    text-align: center;
}

.heroimage {
    padding-top: 120px;
    text-align: center;
    width: 100%;
}

.heroimage img {
    max-width: 100%;
    height: 300px;
    padding: 0 10px;
}

.gt4image img {
    max-width: 100%;
    padding: 120px 0 30px 0;
}

.crashbanner img {
    max-width: 100%;
    height: auto;
}

.introtext {
    height: 100px;
}

.introtext p {
    font-family: 'Assistant', sans-serif;
    font-size: 22px;
    color: black;
    text-align: center;
    font-weight: 600;
    line-height: 100px;
    padding-bottom: 20px;
}

/*---------------------------------------------------------------------gt4.html*/

.maingt4content {
    padding-top: 120px;
}

.maingt4content h4 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 33px;
    text-align: center;
    color: black;
}

.maingt4content p {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    color: black;
    padding: 20px 0 0 60px;
}


.maingt4content ul li {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    color: black;
    list-style-type: none;
}

.maingt4content ul li i {
    color: orange;
    padding: 20px;
}

.gt4image {
    padding-bottom: 30px;
}

/*---------------------------------------------------------------------Drag.html*/

.maindragheader h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 36px;
    text-align: center;
    color: black;
    width: 100%;
}

.maindragimage img {
    padding: 120px 0 20px 0;
    width: 40%;
    height: auto;
}

.draginfo p {
    font-family: 'Assistant', sans-serif;
    font-size: 24px;
    color: black;
    padding: 20px;
}


/*---------------------------------------------------------------------f1.html*/

.f1imagerowone {
    padding-top: 120px;
    padding-bottom: 60px;
    text-align: center;
    width: 100%;
}

.f1imagerowtwo {
    padding: 60px 0;
    text-align: center;
    width: 100%;
}

.f1imagerowtwo img,
.f1imagerowone img {
    max-width: 100%;
    height: 260px;
    padding: 0 10px;
    object-fit: contain;
}

.mainf1content {
    padding-top: 40px;
}

.mainf1content h4 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 33px;
    text-align: center;
    color: black;
}

.mainf1content p {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    color: black;
    padding: 20px 0 0 60px;
}


.mainf1content ul li {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    color: black;
    list-style-type: none;
}

.mainf1content ul li i {
    color: black;
    padding: 20px;
}

.f1image img {
    max-width: 100%;
    padding: 40px 0;
}

/*---------------------------------------------------------------------Formulae.html*/

.fetitle  h2{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 33px;
    color: black;
    padding-top: 100px;
}

.fetitle p {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

.ferow {
    padding: 20px 0 60px 0;
    text-align: center;
    width: 100%;
}

.ferow img {
    max-width: 100%;
    height: 200px;
    padding: 0 10px;
    object-fit: contain;
}

/*---------------------------------------------------------------------Footer*/

.f1footer{
    color: white;
}

.f1footer h3 {
    font-family: 'Shadows Into Light', cursive;
    padding-left: 20px;
    font-size: 20px;
}

.f1footer h5 {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

